.Home {
    padding: 10px;
    padding-bottom: 100px;
    background-color: #121212;
    color: #ffffff;
}

/* Hero Section */
.hero {
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero-title {
    font-size: max(4vw, 36px);
    color: #ffd700;
}

.hero-description {
    width: 75%;
    color: #f0e68c;
    line-height: 1.6;
    justify-self: center;
}
form{
    display: flex;
    justify-self: center;
}
.search-form {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
}

.search-input {

    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: #ffffff;
}

.search-input::placeholder {
    color: #888;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #121212;
    background: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search-button:hover {
    background: #ffdd4a;
}

/* Crypto Table Section */
.crypto-table {
    max-width: 900px;
    margin: 40px auto;
    background: #1e1e1e;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #ffd700;
}

.table-header,
.table-row {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}

.table-header {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #292929;
}

.table-body .table-row {
    transition: background 0.3s ease;
    text-decoration: none;
    color: #ffffff;
}

.table-body .table-row:hover {
    background-color: #292929;
}

.coin-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.coin-image {
    width: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 2px;
}

.change-green {
    color: #28a745;
    text-align: center;
}

.change-red {
    color: #dc3545;
    text-align: center;
}

.market-cap {
    text-align: right;
}

/* Media Queries */
@media (max-width: 770px) {
    .table-header,
    .table-row {
        grid-template-columns: 0.5fr 2.5fr 1fr 1fr;
    }
    .market-cap {
        display: none;
    }
}

@media (max-width: 500px) {
    .coin-image {
        width: 25px;
    }
    .table-header,
    .table-row {
        font-size: 12px;
        padding: 10px;
    }
    .hero {
        gap: 20px;
    }
    .search-form {
        flex-direction: column;
        gap: 10px;
    }
    .search-input,
    .search-button {
        width: 100%;
    }
}
